In [1]:
class calculator:
    def add(self , a,b):
        return a+b
calc = calculator()
print(calc.add(21,56))

77

In [2]:
class calculator:
    def add(self , a,b):
        return a+b
calc = calculator()
num1 = int(input("Enter your Frist Number : "))
num2 = int(input("Enter the Second Number : "))
print("sum =",calc.add(num1,num2))

Enter your Frist Number : 200
Enter the Second Number : 300
sum = 500

In [9]:
class student:
  def __init__(self,name,age,rollnum):
    self.name=name
    self.age=age
    self.rollnum =rollnum
s1=student("shareef",23,10)
s2=student("adil",23,3)
print(s1. __dict__)
print(s2. __dict__)

{'name': 'shareef', 'age': 23, 'rollnum': 10}
{'name': 'adil', 'age': 23, 'rollnum': 3}

In [11]:
class student:
  def __init__(self,name,age,rollnum):
    self.name=name
    self.age=age
    self.rollnum =rollnum
  def __str__(self):
    return f"name :{self.name}, Age : {self.age}, Rollnum:{self.rollnum}"
s1=student("shareef",23,10)
s2=student("adil",23,3)
print(s1)
print(s2)

name :shareef, Age : 23, Rollnum:10
name :adil, Age : 23, Rollnum:3